* {
  margin: 0;
  padding: 0;
}

body {
  background: #efefef;
}

.app {
  width: 600px;
  margin: 4rem auto;
  background: white;
  padding: 2rem 4rem;
  border-radius: 6px;
  min-height: 50vh;
  box-shadow: 0 0 6px rgba(100, 100, 100, 0.2);
}

h1 {
  margin: 1rem 0;
}

.search-bar {
  display: flex;
  gap: 1rem;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgba(09, 09, 09, 0.1);
  border-radius: 6px;
  color: #333;
}

.search-bar button {
  appearance: none;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  background: #e23e57;
  color: white;
  font-size: 1.2rem;
}

.search-results-popup {
  position: relative;
}

.search-results {
  background: white;
  position: absolute;
  top: 6px;
  border: 1px solid #ccc;
  width: 100%;
  box-shadow: 0 0 6px rgba(100, 100, 100, 0.2);
  border-radius: 6px;
}

ul li {
  font-size: 1rem;
  list-style: none;
  padding: 0.4rem;
  color: #333333;
}

ul li:hover {
  cursor: pointer;
  background: #e23e57;
  color: white;
}

.search-result {
  display: flex;
  gap: 0.2rem;
  align-items: baseline;
}

.search-result .state, .country {
  font-size: 0.8rem;
  color: #777;
}

.search-result:hover .state, .country {
  color: #eee;
}

.search-result .country {
  margin-left: auto;
}

.favorite-cities {
  margin-block: 2rem;
}

.favorite-cities {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}