.notificationContainer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.notificationContainer ol li {
  list-style: none;
  margin: 0.5rem;
  border-radius: 6px;
  background: #333333;
  color: white;
  padding: 1rem;
}